*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	color: #535252;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;	
}

/*COLORS*/
	/*
	Clouds - #ecf0f1
	Silver - #7e8081  
	Peter River - #3498db
	Belize Hole - #2980b9
	Nephritis - #27ae60
	Orange - #f39c12
	Pomegranate - #c0392b
	*/



/* FONT MODIFICATIONS*/
.bold
{
	font-weight: 700;
}

.light
{
	font-weight: 100;
}



/*REUSABLE CLASS*/
.clearboth
{
	clear: both;
}

.silver
{
	color : #7e8081;
}

.whiteBg
{
	background-color: #fff;
	border : 1px solid #000000;
}

.redTxt
{
	color : #e74c3c;
}

.greenBtn
{
	background-color: #27ae60;
	display: inline-block;
	color : #fff;
	padding : 4px 2%;
	text-decoration: none !important;
}

.str
{
	font-weight: 700;
}

.alignCenter
{
	text-align: center;
}


/*index.php*/
.loginPage
{
	margin-left: 10%;
	margin-right: 10%;
}

.loginPage>h1
{
	text-align: center;
}
.loginForm
{
	background-color: #fff;
	padding: 2%;
}

.loginForm h4
{
	text-align: center;
	color : #7e8081;
}

.loginForm div>.checkbox
{
	width: 90% !important;
	float: left;
}

.loginForm div>div>.btn
{
	width: 10%;
	float: right;
}

.loginForm p a
{
	text-decoration: none;
	color: #3498db;
}

.btn
{
	border-radius: 3px;
	background-color : #3498db;
	color : #fff;
}

/* register.php */
.registerPage
{
	margin: 5%;
	margin-top: 3%;
}
.registerPage ul
{
	list-style-type: none;
	margin-bottom: 0;
}

.registerPage .container-fluid
{
	margin-right: 10%;
}

.registerPage ul a
{
	display: inline-block;
	padding : 2px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin: 0;
	width: 20%;
	text-align: center;
	text-decoration: none;
	padding-top: 12px;
	padding-bottom: 10px;
}

.registerContainer
{
	border : 1px solid #000000;
	border-top: 2px solid #3498db;
	padding: 1%;
}

.backHref
{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 120%;
	text-decoration: none;
	color : #3498db;
}

.registerPage .container-fluid a:not(.backHref)
{
	color :#3498db;
	margin-left: 5%;
	text-decoration: none;
}

.warningTxt
{
	color : red;
}

.datepicker
{
	width: 100%;
}

/* parkingavailability.php  */
header h1
{
	margin-left: 2%;
	margin-top: 20px;
	margin-bottom: 0;
	display: inline-block;
}

header ul
{
	list-style-type: none;
	display: inline;
	width: 60%;
}

header ul li
{
	margin-right: 2%;
	display: inline-block;
	float: right;
	margin-top: 20px;
	font-size: 120%;
}

header a
{
	text-decoration: none !important;
	color : #000000;
}

.parkingSpots
{
	padding: 20px 20% 0 20%;
}

.parkingSpots table
{
	width: 100%;
	color: #fff;
	margin-bottom: 40px;
}

.parkingPlace
{
	background-color: #2980b9;
	padding: 7px 2% 7px 10px;
}

.parkingPlaceDetail
{
	background-color: #3498db;	
	padding: 7px 2% 7px 10px;
}

.needLogin p
{
	font-size: 120%;
	text-align: right;
	margin-right: 2%;
}

.needLogin a
{
	text-decoration: none;
}

.headerUser
{
	margin-left: 5%;
}

.headerUser h4
{
	margin-bottom: 0;
}

.headerUser ul li a
{
	text-decoration: none;
}

/*adminselection.php */
.assignAdminDiv h1
{
	display: inline-block;
	margin-bottom: 0%;
}

.assignAdminDiv>a
{
	margin-left: 2%;
}

.assignAdminHeader
{
	font-weight: 700;
}

.assignAdminTable td:nth-child(1)
{
	width: 5%;
}
.assignAdminTable td:nth-child(2)
{
	width: 20%;
}
.assignAdminTable td:nth-child(3)
{
	width: 25%;
}
.assignAdminTable td:nth-child(4)
{
	width: 25%;
}
.assignAdminTable td:nth-child(5)
{
	width: 25%;
}
.assignAdminTable td:nth-child(6)
{
	width: 10%;
}

.assignAdminDiv button
{
	float: right;
	margin-top: 10px;
}


/* reset.php (resetpassword) */
.resetHeader
{
	border : 2px solid #000000;
}

.resetTitle
{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
}

.resetPass>div
{
	padding : 0 5% 0 5%;
}
.resetPass ul
{
	list-style-type: none;
	display: inline-flex;
	width: 100%;
}
.resetPass ul li
{
	display: inline-block;
	width: 50%;
	border-bottom: 2px solid #3498db;
	padding : 4px 2% 4px 2%;
	margin : 0;
}

.resetPass ul li:hover
{
	cursor: pointer;
}

.resetPass a
{
	display: inline-block;
	text-decoration: none;
	margin-bottom: 10px;
}

.resetDivContent
{
	margin-top: 0;
	padding: 3%;
}


/* mappingparkir.php */
.mappingParkirDiv
{
	margin-top: 10px;
	margin-right: 5%;
	margin-left: 5%;
	padding-bottom: 10px;
}

.mappingParkirTable
{
	width: 100%;
	margin-bottom: 20px;
}
.mappingParkirTable tr:nth-child(1)
{
	font-weight: 700;
}

.mappingParkirTable tr td:nth-child(1)
{
	width: 5%;
}
.mappingParkirTable tr td:nth-child(2)
{
	width: 30%;
}
.mappingParkirTable tr td:nth-child(3)
{
	width: 30%;
}
.mappingParkirTable tr td:nth-child(4)
{
	width: 30%;
}
.mappingParkirTable tr td:nth-child(5)
{
	width: 5%;
}

/* newlocation.php */
.newMapping
{
	margin: 20px 17% 0 17%;
	padding-bottom: 20px;
}


/* onlinebook.php */
.bookingLayout .container-fluid
{
	margin : 10px 2%;
}


/* locationmapping.php */
#bookingLocationTable
{
	width: 100%;
	margin-top: 10px;
}

#bookingLocationTable td div
{
	margin: 2px;
	margin-right: 20%;
	padding : 10px 10px 5px 2px;
}

#bookingLocationTable td div p
{
	line-height: 50%;
	user-select: none;	
}

#bookingLocationTable td .available
{
	background-color: #27ae60;
	color : #fff;
}

#bookingLocationTable td .booked
{
	background-color: #f39c12;
	color : #fff;
}

#bookingLocationTable td .occupied
{
	background-color: #c0392b;
	color : #fff;
}

#bookingLocationTable td .available:hover
{
	cursor: pointer;
}

#onlineBookDetail
{
	margin-top: 10px;
	padding:1%;
}


/* checkinpanel.php */
.panel
{
	margin : 80px 17% 0;
	background-color: #2980b9;
}

.panel>h1
{
	width: 100%;
	margin: 0;
	padding : 20px 0 20px 2%;
	display: inline-block;
	color: #fff;
	background-color: #2964b9;
}

.panel>h1>p
{
	font-size: 80%;
}

.panel>div
{
	padding : 20px 2% 20px 2%;
	color : #fff;
}

#ticketBtn,
#bookedTicketBtn,
#generateBillBtn
{
	width : 100%;
	margin-top: 15px;
	background-color: #27ae60;
	border:none;
}

#currTime
{
	margin-top: 10px;
}

/* checkout.php */
#invoice
{
	margin : 30px 17% 40px 17%;
	background-color: #2980b9;
}

#invoice>h1
{
	width: 100%;
	margin: 0;
	padding : 20px 0 20px 2%;
	display: inline-block;
	color: #fff;
	background-color: #2964b9;
}

#invoice>h1>p
{
	font-size: 80%;
}

#invoice>div
{
	padding : 20px 2% 20px 2%;
	color : #fff;
}

.total
{
	font-size: 150%;
}

/* staff/editprofil.php */
#staffEditProfile
{
	margin: 20px 5%;
}

.backBtn
{
	display: inline-block;
	margin-left: 5%;
	margin-top: 20px;
}


/*reporting.php*/
.reportInput
{
	margin : 20px 2%;
}

.reportInput .btn
{
	margin-top: 10px;
	display: inline-block;
}

.reportInput .greenBtn
{
	background-color: #27ae60;
	display: inline-block;
	padding-top: 7px;
}

.reportTable
{
	width: 100%;
}

.reportTable .td
{
	width: 33.3%;
}

.reportContainer
{
	background-color: #fff;
	width: 100%;
	padding : 1%;
	margin-top: 20px;
	border-top: 2px inset #7f8c8d;
}
